metalgpu/dist/*
*__pycache__*
test/*
.DS_Store
metalgpu/src/test.py
metalgpu/src/shader.metal
.vscode/*

*main.out*

examples/Makefile

metal-gpu-c/metal-cpp
metal-gpu-c/.cache/*
metal-gpu-c/compile_commands.json
metal-gpu-c/src/test.metal

# cmake files
metal-gpu-c/Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
*.dylib
